@import "tailwindcss";

/* Register Page CSS */

.register-page {
  @apply min-h-screen flex flex-col items-center justify-center bg-gradient-to-r from-indigo-800 to-indigo-600;
  animation: fadeIn 1s ease-in-out;
}

.register-container {
  @apply border outline-2 outline-indigo-950 bg-white border-slate-300 rounded-lg p-6 max-w-md shadow-[0_2px_22px_-4px_rgba(93,96,127,0.2)] max-md:mx-auto;
}

.register-content {
  @apply space-y-6;
}

.register-heading {
  @apply text-slate-900 text-3xl font-semibold;
}

.register-description {
  @apply text-slate-500 text-lg mt-6 leading-relaxed;
}

.register-label {
  @apply text-slate-800 text-sm font-medium mb-2 block;
}

.register-input {
  @apply w-full text-sm text-slate-800 border border-slate-300 pl-4 pr-10 py-3 rounded-lg outline-blue-600;
}

.register-button {
  @apply w-full shadow-xl py-2.5 px-4 text-[15px] font-semibold tracking-wide rounded-lg text-white bg-blue-600 hover:bg-blue-700 focus:outline-none bg-gradient-to-r from-indigo-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:ring-cyan-300 dark:focus:ring-cyan-800 text-sm text-center me-2 mb-2 outline-2 outline-blue-500;
}

.register-confirmation {
  @apply text-sm font-semibold mt-4 text-center;
}

.register-confirmation.text-red-500 {
  @apply text-red-500;
}

.register-confirmation.text-green-500 {
  @apply text-indigo-500;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}